.tabs {
    width: 100%;
    margin-top: 150px;
    &__header {
        display: flex;
        justify-content: center;
        @include mediaScreen(0, $tablet-portrait) {
            flex-wrap: wrap;
        }
        &-item {
            margin: 0 25px;
            cursor: pointer;
            &.active {
                color: red;
            }
        }
    }
    &__content {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 75px;
    }
}