// Container
.container {
    max-width: ($containerWidth + $containerPadding) + px;
    width: 100%;
    margin: 0 auto;
    padding: 0 $containerSidePadding + px;

    .no_container {
        display: block;
        margin-right: -($containerPadding + px);
        margin-left: -($containerPadding + px);
    
        .container_wrap {
          padding-right: $containerPadding + px;
          padding-left: $containerPadding + px;
        }
    }
}

// Body Locked
body {
    &.locked {
        overflow: hidden;
    }
}

// Animations
// Fade
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
